<h1>Home</h1>
<p>Find everything you need here</p>

  <p>Welcome</p>


       <p>As you break down why something looks good, you’ll get a better understanding and can start mimmicking designs, then tweaking design, then eventually design from scratch.</p 

       <p> <%= image_tag('face2.jpg' , :width=> '500') %></p>

<p> <%= link_to('Contact us' , '/contact/index' ) %> </p>
<p> <%= link_to('About' , '/about/index' ) %> </p>
<p> <%= link_to('Products and Services' , '/products/index' ) %> </p>
<p> <%= link_to('Offices' , '/offices/index' ) %> </p>




         

     Until we see you
