<h1>About Us</h1>
<p>We are an international company providing your beauty needs</p>

<p>this is how we do</p>



  <p> <%= image_tag('eyes1.jpg' , :width=> '500') %> </p>




<p> <%= link_to('Contact us' , '/contact/index' ) %> </p>
<p> <%= link_to('Products and Services' , '/products/index' ) %> </p>
<p> <%= link_to('Home' , '/home/index' ) %> </p>
<p> <%= link_to('Offices' , '/offices/index' ) %> </p>



 <p>Search <%= search_field("hello" , "me" , placeholder:"search us") %></p>
