
<h1>Contact Us</h1>
<p>Find me in app/views/contact/index.html.erb</p>

 <%= image_tag ('eyes2.jpg') %>

<p>please dont forget to contact us</p>


<p> <%= link_to('About' , '/about/index' ) %> </p>
<p> <%= link_to('Products and Services' , '/products/index' ) %> </p>
<p> <%= link_to('Home' , '/home/index' ) %> </p>
<p> <%= link_to('offices' , '/offices/index' ) %> </p>



<p>Search site <%= search_field("hello" , "me" , placeholder:"search us") %> </p

