<h1>Products and Services</h1>
<code>Choose from our wide range of products and services</code>

<p> <%= image_tag('lips2.jpg' , :width=> '500') %></p>

<p> <%= link_to('Contact us' , '/contact/index' ) %> </p>
<p> <%= link_to('About' , '/about/index' ) %> </p>
<p> <%= link_to('Home' , '/home/index' ) %> </p>
<p> <%= link_to('Offices' , '/offices/index' ) %> </p>